h1{
    color:red;
    background-color: rgb(231, 216, 6);
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
}

h2{
    color:yellow;
    font-size: 30px;
    font-size: 30px;
    font-family: Verdana, ;
}
